<div id="conteudo">
  <h1>Entrada Veiculo</h1>
<br><br>
	<div id="lista">
	<table>
	<tr>
		<td>
			<%= render 'form' %>
		</td>
	</tr>
	</table>

		<%= link_to 'Saida do Veiculo', movimentos_path %>
	</div>
</div>
